#ul{
    border: 1px solid ;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align:center;
    list-style-type: none;
    margin-left:  1%;
    padding: 10px;

}

#off{
    border: 1px solid rgb(10, 230, 230);
    border-radius: 15px;
    padding: 4%;
    width: 90%;
    background-image:url(ac05afa73ee636f438b7ee3f92a6be8c.jpg);
    color: white;
    margin: 1%;
}

#ul li{
    display: inline;
    padding:10px;
    height: 200;
}


#img{
    width: 200px;
    display: inline-block;
     border-radius: 15px;   
}

#uu{
    text-align: center;
    width: 100%;

}
#book{
     width: 25%;
    border: 1px solid rgb(232, 232, 14);
 
    padding: 10px;
    background-color: rgb(255, 236, 211);
    display: inline-block;
    margin: 10px;
    border-radius: 15px;
    text-align-last: left;
}

.Home{
    border: 1px solid;
    width: 50px;
    background-color: rgb(171, 244, 175);
    bottom:initial;
    padding: 20px;
    margin: 20px;
    padding-right: 55px;
    padding-left: 4%;
    border-radius: 20px;
    text-align:justify;
}
#vv{
    text-align: center;
}
footer{
    background-color: rgb(246, 199, 142);
    padding: 15px;
    text-align: center;
    padding-bottom: 10px;
}
