#ooo{
    background-color: #e0bbbb;
    border: 1px solid;
    padding: 5px;
    border-radius: 15px;

}
label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kk{
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;

}
form{
    float:none;
    background-color: brown;
    width: 15%;
    border-radius: 20px;
    text-align: center;
}
body{
    background-image: url(./gg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
     background-position: right;
     background-color: aqua;
}
h3{
    border:2px rgb(0, 0, 0) solid;
    width: 10%;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px;
    margin-left: 2%;
}
footer{
    border: 2px solid grey;
    margin-bottom: 0%;
    margin-top: 10px;
    background-color: gray;
    text-align: center;
}